@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh; /* instead of fixed 100vh */
  background: black;
  overflow-x: hidden;
}

.stars {
  position: fixed; /* lock backdrop */
  inset: 0; /* shorthand for top/left/right/bottom: 0 */
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #000010 0%, #000 100%);
  z-index: -1; /* sits behind everything else */
  pointer-events: none;
}

.star {
  position: absolute;
  border-radius: 50%;
  opacity: 0.7;
  background: radial-gradient(circle, white, transparent);
  animation: twinkle infinite alternate;
}

.star.far {
  transform: scale(0.7);
  opacity: 0.5;
}
.star.mid {
  transform: scale(1);
  opacity: 0.8;
}
.star.near {
  transform: scale(1.3);
  opacity: 1;
}

@keyframes twinkle {
  from {
    opacity: 0.2;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

.stars::before,
.stars::after {
  content: "";
  position: fixed; /* keeps nebula locked to viewport */
  inset: 0;
  background: radial-gradient(
      ellipse at 30% 40%,
      rgba(140, 90, 200, 0.08),
      /* soft violet */ transparent 70%
    ),
    radial-gradient(
      ellipse at 70% 60%,
      rgba(0, 180, 255, 0.06),
      /* cyan glow */ transparent 75%
    ),
    radial-gradient(
      ellipse at 50% 85%,
      rgba(255, 120, 150, 0.05),
      /* faint pink/magenta */ transparent 70%
    );

  pointer-events: none;
}

@theme {
  --color-secondary: #172030;
  --color-background: #0b1018;
  --color-muted: #5f738e;
  --color-highlight: #a5d1ff;
  --color-blueBg: #1a2135;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(18, 38, 40, 1);
  border-radius: 10px;
}
